<h1>Task Details: {{task.taskName}}</h1>

<table border="1" cellpadding="6">
    <tr>
        <th>Property</th>
        <td>{{task.property.name}}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{task.property.address}}</td>
    </tr>
    <tr>
        <th>Zone</th>
        <td>{{task.property.zone}}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{task.date}}</td>
    </tr>
    <tr>
        <th>Start Time</th>
        <td>{{task.startTime}}</td>
    </tr>
    <tr>
        <th>Requires Linens?</th>
        <td>{{task.requiresLinens}}</td>
    </tr>
    <tr>
        <th>Requires Supplies?</th>
        <td>{{task.requiresSupplies}}</td>
    </tr>
    <tr>
        <th>Assigned Staff</th>

        <td>
            {{#each task.assignedStaff}}
            <a href="/staff/{{this._id}}">{{this.name}}</a>{{#unless @last}}, {{/unless}}
            {{/each}}
       

        </td>
    </tr>

</table>

<table border="1" cellpadding="6">
    <h2>Task Rules</h2>

    <thead>
        <tr>
            <th>Task Name</th>
            <th>Category</th>
        </tr>
    </thead>
    <td>
        {{#if task.taskRuleData}}

        <tr>
            <th><a href="/taskrules/{{task.taskRuleData._id}}">{{task.taskRuleData.name}}</a></th>
            <td>{{task.taskRuleData.category}}</td>
        </tr>
        {{else}}
        Unknown
        {{/if}}
    </td>

</table>

<a href="/tasks">← Back to Tasks</a>